.image-record-table {
    border-collapse: collapse;
    cursor: pointer;
}

thead td {
    border: 1px solid black;
}

td {
    border: 1px dotted black;
    padding: 0.5em;
}

.uptodate-message--up-to-date {
    color: green;
}

.uptodate-message--unknown {
    color: lightgrey;
}

.discreet {
    font-size: 0.7em;
}
