@(lambdas: List[com.gu.imagechecker.LambdaRecord], referenceImage: Option[com.gu.imagechecker.ImageRecord])
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
 PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf8">
    <title>Image Checker</title>
    <!-- <script src="index.js"></script> -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
      <p><strong>Reference image age:</strong>
          @for(ref <- referenceImage) {
              @ref.ageString <span class="discreet">(@ref.imageUri, created: @ref.createdDate)</span>
          }
      </p>
    <table class="image-record-table">
      <thead>
          <tr><td>Lambda Name</td><td>Last modified</td><td>Image URI</td><td>Up to date</td><td>Age</td></tr>
      </thead>
      <tbody>
          @for(lambdaRec <- lambdas.sortBy(_.lastModified)) {
              <tr>
                  <td>@lambdaRec.name</td>
                  <td>@lambdaRec.lastModified</td>
                  <td>@lambdaRec.image.imageUri</td>
                  <td>
                      <div title="imageUri: @lambdaRec.image.baseImageRecord.map(_.imageUri)" class="uptodate-message--@lambdaRec.image.upToDateMessage(referenceImage)">
                          @lambdaRec.image.upToDateMessage(referenceImage)
                      </div>
                  </td>
                  <td>
                      <span title="created at: @lambdaRec.image.createdDate">@lambdaRec.image.ageString</span>
                  </td>
              </tr>
          }
      </tbody>
    </table>
  </body>
</html>
